#ree{
    background-color: #0d6efd;
}

.devider{
    border: 1px solid #c0c4c9;
    max-width: 0px;
}

.table-container{
    overflow-x: scroll;
    scroll-behavior: smooth;
    min-width: 100%;
    box-sizing: border-box;
}

.collapse.show {
    visibility: visible;
}

@media screen and (max-width: 600px) {
    table.bigBoiTable thead {
        display: none;
    }

    table.bigBoiTable td {
        display: flex;
        border-color: #c0c4c9;
    }

    table.bigBoiTable tr {
        border-bottom: 1px solid #6e6e6e;
    }

    table.bigBoiTable tr:last-child {
        border-bottom: none;
    }

    table.bigBoiTable td::before {
        content: attr(label);
        font-weight: bold;
        width: 120px;
        min-width: 120px;
    }
}